<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Flaws</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Favicons
    ================================================== -->
  <link rel="shortcut icon" href="img/logo.jpg" type="image/x-icon">
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/fonts/font-awesome/css/font-awesome.css">

  <!-- Slider
    ================================================== -->
  <link href="stylesheets/css/owl.carousel.css" rel="stylesheet" media="screen">
  <link href="stylesheets/css/owl.theme.css" rel="stylesheet" media="screen">

  <!-- Stylesheet
    ================================================== -->
  <link rel="stylesheet" type="text/css" href="stylesheets/css/style.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/css/animate.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="javascripts/js/modernizr.custom.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <div id="preloader">
    <div id="status"> <img src="img/preloader.gif" height="64" width="64" alt=""> </div>
  </div>
  <!-- Navigation
    ==========================================-->
  <nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
            class="icon-bar"></span> </button>
        <a class="navbar-brand" href="/"><i class="fa fa-flag-checkered fa-flip-horizontal"></i> F<strong><span class="color">LAW</span></strong>S</a></div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home" class="page-scroll">Home</a></li>
          <li><a href="#services-section" class="page-scroll">Services</a></li>
          <li><a href="#works-section" class="page-scroll">Portfolio</a></li>
          <li><a href="#about-section" class="page-scroll">About</a></li>
          <li><a href="#team-section" class="page-scroll">Social</a></li>
          <li><a href="#testimonials-section" class="page-scroll">Testimonials</a></li>
          <li><a href="#contact-section" class="page-scroll">Contact</a></li>
          <% if(!currentUser) { %>
          <li><a href="/login" class="page-scroll">Login</a></li>
          <li><a href="/register" class="page-scroll">Register</a></li>
          <%  } else { %>
          <li><a href="users/<%=currentUser._id%>" class="page-scroll"><%=currentUser.fullname %></a></li>
          <li><a href="/logout" class="page-scroll">Logout</a></li>
          <%  } %>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <!-- Header -->
  <header class="text-center" name="home">
    <div class="intro-text">
      <h1 class="wow fadeInDown">Let Yourself be F<strong><span class="color">LAW</span></strong>ED</h1>
      <p class="wow fadeInDown">Because short is the new long</p>
      <a href="#works-section" class="btn btn-default btn-lg page-scroll wow fadeInUp" data-wow-delay="200ms">Our Content</a>
    </div>
  </header>

  <!-- Services Section -->
  <div id="services-section" class="text-center">
    <div class="container">
      <div class="section-title wow fadeInDown">
        <h2>Our <strong>Services</strong></h2>
        <hr>
        <div class="clearfix"></div>
        <h3>We specialize in creating powerful legal toolkits that assist our users in their eleventh hour !</h3>
      </div>
      <div class="space"></div>
      <div class="row">
        <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="200ms"> <i class="fa fa-legal"></i>
          <h4><strong>Judiciary</strong></h4>
          <p>We are thriving to provide best content for judicial service examinations. We have focused on in depth explanation of all the major and minor acts including local laws of specific states and UN charter, through audio visual presentations. Keeping in mind the challenges of general studies, we have brought a video based learning for you with the videos inclusive of various quiz at the end of each lecture. This will not only add an element of interest towards general studies but will also assist you to memories it thoroughly. You would also be mentored for the indispensable part of the aforesaid examination that is revision; and for this purpose, we have carved out our smartly designed master index. Keeping in mind the pattern of question paper of the aforesaid examination the entire capsule has been drafted by incorporating important previous years’ questions with detailed solution with respect to both law and general studies. We assure that this course will surely assist all the legal aspirants to get through the aforesaid examination with utmost efficacy.</p>
        </div>
        <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="400ms"> <i class="fa fa-graduation-cap"></i>
          <h4><strong>Law Pursuing Students</strong></h4>
          <p>We have designed our content keeping in mind that every law student develops an unambiguous approach towards every concept of law. For accomplishing the aforesaid purpose, we have designed our audio/video presentations in such a way that it will not only assist all the legal aspirants to have clarity over the theoretical aspect of law but also have an edge over the applicability of various law provision that can be best understood by solving various case studies and practical questions which has been duly taken into account. We have made sure that you are kept in-line with the recently incorporated amendments and case laws related to the aforesaid course. You would also be guided for the most important part of legal studies i.e. memorizing various provisions of law through our smartly designed master index. We assure you that this course would assist you in enhancing your status quo.</p>
        </div>
        <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="600ms"> <i class="fa fa-bullhorn"></i>
          <h4><strong>IBPS SO - Law Officer</strong></h4>
          <p>SEO is an art form, raising brand awareness and in turn, mounting traffic to your website. There are many promising approaches you can take and identify your target market is key.</p>
        </div>
        <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="800ms"> <i class="fa fa-rocket"></i>
          <h4><strong>Other Competitive Exams</strong></h4>
          <p>We provide comprehensive notes for Legal Reseacher, CLAT (Common Law Admission Test) both LLB and LLM program,SLAT(Symbiosis Law Admission Test), Company Secretaryship program, All India Bar Exam (AIBE) together with judgement writing tips and tricks and more.. We have also designed audio visual presentations on constitutional law and jurisprudence for the law students thriving for entrance into national law university for pursuing masters in legislative laws(LLM), legal researcher, IBPS and many others. Keeping in mind the pattern of the aforesaid examination, we have videos that will make you understand all the law provisions efficaciously  whether it be theoretical or practical approach of law. We have also ensured that all the aspirants of the aforesaid examination are able to have clarity in applicability of the law provisions, so we have prepared the videos on case studies and practical questions and answers including recently incorporated amendments and recent case laws. Lastly you all would be mentored for the indespensable part of the aforesaid examination that is revision for that we have carved out our smartly designed master index. We assure that our course will assist you in enhancing your legal insight and clearing your examinations efficiently.</p>
        </div>
      </div>
    </div>
  </div>



  <div id="cta" class="text-center">
    <div class="container">
      <div class="section-title wow fadeInDown">
        <h1 style="color:white;">SUBSCRIBE TO OUR CHANNEL</h1>

  <script src="https://apis.google.com/js/platform.js"></script>
<div class="g-ytsubscribe" data-channelid="UCiuvH4a92qBqiOaGzcAuL5A" data-layout="full" data-theme="dark" data-count="hidden"></div>
      </div>
    </div>
  </div>

  <!-- Portfolio Section -->
<div id="works-section" class="text-center">
  <div class="container"> <!-- Container -->
    <div class="section-title wow fadeInDown">
      <h2>Our <strong>Content</strong></h2>
      <hr>
      <div class="clearfix"></div>
      <h3>Makes you say <strong>wow</strong>.</h3>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">All</a></li>
            <li><a href="#" data-filter=".act">ACTS</a></li>
            <li><a href="#" data-filter=".procedure">PROCEDURES</a></li>
            <li><a href="#" data-filter=".laws">LAWS</a></li>
            <li><a href="#" data-filter=".others">OTHERS</a></li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-3 col-lg-3 act">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="100ms">
            <div class="hover-bg"> <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>The Negotiable Instrument Act, 1881</h4>
                (Act No. 26 of 1881)
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="img/portfolio/NNI.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-3 act">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg"> <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>The Indian Contract Act, 1872</h4>
               (Act No. 9 of 1872)
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="img/portfolio/Cont.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 act">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="300ms">
            <div class="hover-bg"> <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>The Specific Relief Act, 1963 </h4>
                (Act No. 47 of 1963)
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="img/portfolio/sract.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
    <div class="col-sm-6 col-md-3 col-lg-3 procedure">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="400ms">
            <div class="hover-bg"> <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>The Code Of Civil Procedure, 1908</h4>
                (Act No. 5 of 1908)
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="img/portfolio/cpc.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-3 act">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="500ms">
            <div class="hover-bg"> <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>The Transfer of Property Act, 1882</h4>
               (Act No. 4 of 1882)
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="img/portfolio/tpa.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 act">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="600ms">
            <div class="hover-bg"> <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>The Limitation Act, 1963</h4>
                (Act No. 36 of 1963)
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="img/portfolio/lmitation.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
    <div class="col-sm-6 col-md-3 col-lg-3 procedure">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="700ms">
            <div class="hover-bg"> <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>The Code of Criminal Procedure,1973</h4>
                (Act No. 2 of 1973)
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="img/portfolio/CRPC.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
    <div class="col-sm-6 col-md-3 col-lg-3 act">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="800ms">
            <div class="hover-bg"> <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>The Indian Evidence Act, 1872</h4>
                (Act No. 1 of 1872)
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="img/portfolio/Evidence4.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
    <div class="col-sm-6 col-md-3 col-lg-3 act">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="900ms">
            <div class="hover-bg"> <a href="#portfolioModal9" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Indian Partnership Act, 1932</h4>
                (Act No. 9 of 1932)
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="img/portfolio/partner.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
    <div class="col-sm-6 col-md-3 col-lg-3 others">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="1000ms">
            <div class="hover-bg"> <a href="#portfolioModal10" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Jurisprudence</h4>
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="img/portfolio/juris.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
    <div class="col-sm-6 col-md-3 col-lg-3 laws">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="1100ms">
            <div class="hover-bg"> <a href="#portfolioModal11" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>The Law of Torts</h4>
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="img/portfolio/torts.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
    <div class="col-sm-6 col-md-3 col-lg-3 laws">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="1200ms">
            <div class="hover-bg"> <a href="#portfolioModal12" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Local laws of States</h4>
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="img/portfolio/local.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
  <!-- About Section -->
<div id="about-section">
  <div class="container">
    <div class="section-title text-center wow fadeInDown">
      <h2><strong>A little bit about</strong> FLAWS</h2>
      <hr>
      <div class="clearfix"></div>
      <h3>We hold ourselves to strict standards of quality and reliability, which result in distinctive assistance that struck a chord with our user's requirements.</h3>
    </div>
    <div class="row">
      <div class="col-md-6 wow fadeInLeft"> <img src="img/about.png" class="img-responsive"> </div>
      <div class="col-md-6 wow fadeInRight">
          <h4>Who We Are</h4>
          <p>We at FLAWS have pledged to radically look at the revision aspect of all the law subjects and provide a one stop solution for all your needs. The creators being law professionals have undertaken to share their experiences. We are looking forward to facilitate all budding professionals by providing them with optimum exposure of various laws in the nick of time. Therefore, enabling them to grow in their chosen field of law.</p>
          <div class="space"></div>
          <h4>What We Do</h4>
          <p>We specialize in creating powerful legal toolkits and answer keys that assist our users in their eleventh hour of preparation for -</p>
          <div class="space"></div><div class="list-style">
            <div class="row">
              <div class="col-lg-6 col-sm-6 col-xs-12">
                <ul>
                  <li>Judiciary: PCS J Pre and Mains</li>
                  <li>CLAT and AILET: Entrance Exam</li>
                  <li>IBPS-SO (Law Officer) Exam</li>
                  <li>AIBE (All India Bar Examination)</li>
                </ul>
              </div>
              <div class="col-lg-6 col-sm-6 col-xs-12">
                <ul>
                  <li>Law School Exams</li>
                  <li>Company Secretary Papers</li>
                  <li>Legal Researcher Exam</li>
                  <li>Civil Services Exam and Others</li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
  <!-- Team Section -->
<div id="team-section" class="text-center">
  <div class="container">
    <div class="section-title wow fadeInDown">
      <h2>Visit us on <strong><a class="fb page-scroll wow" style="color:#337ab7;" href="https://www.facebook.com/getinmile/?ref=settings">Facebook</a></strong></h2>
      <hr>
      <div class="clearfix"></div>

    </div>
  </div>
 </div>
  <!-- Testimonials Section -->
<div id="testimonials-section" class="text-center">
  <div class="container">
    <div class="section-title wow fadeInDown">
      <h2>What our <strong>Subscribers</strong> say</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div id="testimonial" class="owl-carousel owl-theme wow fadeInUp" data-wow-delay="200ms">
          <div class="item">
            <p>My best wishes to the makers for the content. You are doing a great job by providing content that is not present readily. Just a simple suggestion, if notes that you provided could be typed rather than hand written.</p>
            <p><strong>Aanya Aggarwal</strong>, 4th year Law College, Dehradun.</p>
          </div>
          <div class="item">
            <p>Your videos really helped me in many of the tough topics of Commercial laws. Please continue supporting us with such content on Youtube."</p>
            <p><strong>Amit Randev </strong> LLM, WBNUJS, Kolkata.</p>
          </div>
          <div class="item">
            <p>Detailed explanation, thorough understanding and simple steps to teach. Your content and notes are really helpful for me… It helped me during my preparation for Judicial entrances. Thank you so much.</p>
            <p><strong>Shubham Bansal</strong>, Pursuing Judiciary.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Contact Section -->
<div id="contact-section" class="text-center">
  <div class="container">
    <div class="section-title wow fadeInDown">
      <h2><strong>Contact</strong> us</h2>
      <hr>
      <h3>For any queries don't hesitate to contact us anytime.We are eager to help :)</h3>
    </div>

    <div class="col-md-8 col-md-offset-2 wow fadeInUp" data-wow-delay="400ms">
  <h3>Leave us a message</h3>
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Name" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-default">Send Message</button>
      </form>
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container">
      <p>2019 Copyright © Flaws | All Rights Reserved.</p>
  </div>
</div>

<!-- Auto Load Modal -->

<div class="autoload-modal modal fade" id="autoLoadModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>The HINDU - Diary of Events, 2019</h2>
            <p class="item-intro">Flashback of all crucial events of the year 2018.</p>
            <img class="img-responsive img-centered" src="img/yearbook.png" alt="">

      <a href="img/files/The Hindu - Diary of Events 2019" download class="btn btn-default btn-lg">Download Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




  <!-- Portfolio Modals -->
  <!-- Use the modals below to showcase details about your portfolio projects! -->

  <!-- Portfolio Modal 1 -->
 <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>The Negotiable Instrument Act, 1881</h2>
            <p class="item-intro">(Act No. 26 of 1881)</p>
            <div class="row">
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/bareact.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>Updated till date</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/toolkit.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/toolecture.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/delecture.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>The Indian Contract Act, 1872</h2>
            <p class="item-intro">(Act No. 9 of 1872)</p>
            <div class="row">
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/bareact.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>Updated till date</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/toolkit.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/toolecture.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/delecture.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>The Specific Relief Act, 1963</h2>
            <p class="item-intro">(Act No. 47 of 1963)</p>
            <div class="row">
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/bareact.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>Updated till date</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/toolkit.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/toolecture.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/delecture.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>The Code of Civil Procedure, 1908</h2>
            <p class="item-intro">(Act No. 5 of 1908)</p>
            <div class="row">
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/bareact.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>Updated till date</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/toolkit.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/toolecture.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/delecture.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>The Transfer of Property Act, 1882</h2>
            <p class="item-intro">(Act No. 4 of 1882)</p>
            <div class="row">
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/bareact.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>Updated till date</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/toolkit.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/toolecture.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/delecture.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>The Limitation Act, 1963</h2>
            <p class="item-intro">(Act No. 36 of 1963)</p>
            <div class="row">
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/bareact.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>Updated till date</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/toolkit.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/toolecture.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/delecture.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 7 -->
<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>The Code of Criminal Procedure, 1973</h2>
            <p class="item-intro">(Act No. 2 of 1973)</p>
            <div class="row">
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/bareact.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>Updated till date</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/delecture.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 8 -->
<div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>The Indian Evidence Act, 1872</h2>
            <p class="item-intro">(Act No. 1 of 1872)</p>
            <div class="row">
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/bareact.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>Updated till date</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/toolkit.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/toolecture.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/delecture.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 9 -->
<div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>Indian Partnershp Act, 1932</h2>
            <p class="item-intro">(Act No. 9 of 1932)</p>
            <div class="row">
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/bareact.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>Updated till date</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/toolkit.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/toolecture.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/delecture.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 10 -->
<div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>Jurisprudence</h2>
            <p class="item-intro"></p>
            <div class="row">
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/delecture.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 11 -->
<div class="portfolio-modal modal fade" id="portfolioModal11" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>The Law of Torts</h2>
            <p class="item-intro"></p>
            <div class="row">
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/delecture.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 12 -->
<div class="portfolio-modal modal fade" id="portfolioModal12" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>Local Laws of States</h2>
            <p class="item-intro"></p>
            <div class="row">
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/bareact.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>Updated till date</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/toolkit.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/toolecture.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/delecture.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/bareact.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/toolkit.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/toolecture.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="portfolio-item">
        <div class="hover-bg" style="height:auto; overflow:visible;">
          <div class="hover-text">
          <button onClick="window.location='http://youtube.com'" target="blank" class="modalButton"> View on youtube</button>
          </div>
          <img src="img/portfolio/delecture.jpg" class="img-responsive" alt="Project Title"> </a>
          </div>
          <p>The Negotiable Instrument Act, 1881</p>
        </div>
      </div>
      </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>




  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/js/jquery.1.11.1.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script type="text/javascript" src="javascripts/js/bootstrap.js"></script>
  <script type="text/javascript" src="javascripts/js/SmoothScroll.js"></script>
  <script type="text/javascript" src="javascripts/js/wow.min.js"></script>
  <script type="text/javascript" src="javascripts/js/jquery.prettyPhoto.js"></script>
  <script type="text/javascript" src="javascripts/js/jquery.isotope.js"></script>
  <script type="text/javascript" src="javascripts/js/jqBootstrapValidation.js"></script>
  <script type="text/javascript" src="javascripts/js/contact_me.js"></script>
  <script type="text/javascript" src="javascripts/js/owl.carousel.js"></script>

  <!-- Javascripts
    ================================================== -->
  <script type="text/javascript" src="javascripts/js/main.js"></script>

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
      Tawk_LoadStart = new Date();
    (function() {
      var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/5c39adc0361b3372892fc564/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->

</body>

</html>
